@import url(https://fonts.googleapis.com/css?family=Exo:100);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-seráp;
}

:root {
  /* prettier-ignore */
  --dim-green-glow: 
    0px 0px 1px hsl(120, 100%, 80%),
    0px 0px 10px green;
  /* prettier-ignore */
  --green-glow-drop-shadow: 
    drop-shadow(0px 0px 2px hsl(120, 100%, 80%))
    drop-shadow(0px 0px 8px green);
  /* prettier-ignore */
  --green-glow-small: 
    0px 0px 1px hsl(120, 100%, 80%), 
    0px 0px 2px hsl(120, 100%, 80%),
    0px 0px 10px green;
  /* prettier-ignore */
  --green-glow: 
    0px 0px 2px hsl(120, 100%, 80%),
    0px 0px 15px green,
    0px 0px 60px green;
  /* prettier-ignore */
  --red-glow: 
    0px 0px 1px hsl(0, 100%, 80%), 
    0px 0px 2px hsl(0, 100%, 80%),
    0px 0px 15px hsl(0, 100%, 50%), 
    0px 0px 60px red;
  /* prettier-ignore */
  --blue-glow:
    0px 0px 1px hsl(192, 100%, 80%), 
    0px 0px 16px hsl(244, 90%, 49%),
    0px 0px 30px hsl(244, 100%, 50%),
    0px 0px 60px white;
}

#main {
  display: flex;
  background-image: url("https://i.pinimg.com/originals/b7/a1/d3/b7a1d3841ac99cc7ca57d9e414ad7b9c.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.panel {
  display: flex;
  align-self: flex-end;
  margin: 0px 0px 2em 3em;
  border-radius: 24px;
}

.panel .info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.panel .info h1 {
  font-weight: 300;
  font-size: 22px;
  color: white !important;
  text-shadow: var(--dim-green-glow);
  border: none;
  padding: 0px 0px 8px 0px;
}

.panel .info .control {
  display: flex;
}

.panel .info .control button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.panel .info .control img {
  width: 20px;
}
